<div class="d-flex justify-content-center">
    <div class="col-lg-10">
        <h2>Welcome, {{user.name}} !</h2>
        {{#each posts }}
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary">
                <span class="h3"><a href="/posts/my/{{id}}">{{title}}</a></span>
                <span class="text-dark float-end">Posted on {{format_date createdAt}}</span>
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
        {{/each}}

        {{#if loggedIn}}
        <div class="d-flex justify-content-center">
            <a class="btn btn-info col-lg-3" href="/addPost" id="addPost">Add new post</a>
        </div>
        {{/if}}
    </div>
</div>
