<div class="d-flex justify-content-center">
    <div class="col-lg-10">
        <div class="card bg-light mb-3">
            <div class="card-header bg-primary">
                <span class="h3 text-dark">{{post.title}}</span>
                <span class="float-end">
                    <a href="/editPost/{{post.id}}" class="fa fa-edit"></a>
                    <button class="btn-close" data-id={{post.id}} id="btn_delete">
                    </button>
                </span>
            </div>
            <div class="card-body">
                <p>{{post.body}}</p>
            </div>
        </div>
        {{#each post.comments}}
        <div class="card border-info mb-3">
            <div class="card-header"><strong>Comment by: {{user.name}} on {{format_date createdAt}}</strong></div>

            <div class="card-body">
                <p>{{body}}</p>
            </div>
        </div>
        {{/each}}
        {{#if loggedIn}}
        <form class="frm_comment" data-id="{{post.id}}">
            <div class="from-group">
                <label class="from-label" for="txt_comment">Leave a comment</label>
                <textarea type="text" class="form-control mb-2" id="txt_comment"></textarea>
                <button type="submit" class="btn float-end">Submit</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>

<script src="/js/singlePost.js"></script>